
:root {
	color-scheme: dark light;
	/* --saturation: calc(80% + var(--random-2) * 20%);
	--lightness: calc(40% + var(--random-3) * 10%);
	--color-0: hsl(calc((var(--random-1) + .00) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-1: hsl(calc((var(--random-1) + .05) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-2: hsl(calc((var(--random-1) + .10) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-3: hsl(calc((var(--random-1) + .15) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-4: hsl(calc((var(--random-1) + .20) * 1turn) calc(var(--saturation)) calc(var(--lightness))); */
	/* --whiteness: calc(10% + var(--random-2) * 10%);
	--blackness: calc(20% + var(--random-3) * 20%);
	--color-0: hwb(calc((var(--random-1) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	--color-1: hwb(calc((var(--random-1) + .05) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	--color-2: hwb(calc((var(--random-1) + .10) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	--color-3: hwb(calc((var(--random-1) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	--color-4: hwb(calc((var(--random-1) + .20) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%)); */
	/* --whiteness: calc(var(--random-2) * 10%);
	--blackness: calc(var(--random-3) * 10%);
	--color-0: hwb(calc((var(--random-1) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	--color-1: hwb(calc((var(--random-1) + .05) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	--color-2: hwb(calc((var(--random-1) + .10) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	--color-3: hwb(calc((var(--random-1) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	--color-4: hwb(calc((var(--random-1) + .20) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%)); */
	/* --saturation: calc(80% + var(--random-2) * 20%);
	--lightness: calc(40% + var(--random-3) * 20%);
	--color-0: hsl(calc((var(--random-1) + .00) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 00%));
	--color-1: hsl(calc((var(--random-1) + .20) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 10%));
	--color-2: hsl(calc((var(--random-1) + .40) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 20%));
	--color-3: hsl(calc((var(--random-1) + .60) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 30%));
	--color-4: hsl(calc((var(--random-1) + .80) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 40%)); */
	--whiteness: calc(var(--random-2) * 05%);
	--blackness: calc(var(--random-3) * 05%);
}

:is(path, circle, rect).color-0 {
	animation: 10s linear infinite color-circle-0;
}

:is(path, circle, rect).color-1 {
	animation: 10s linear infinite color-circle-1;
}

:is(path, circle, rect).color-2 {
	animation: 10s linear infinite color-circle-2;
}

:is(path, circle, rect).color-3 {
	animation: 10s linear infinite color-circle-3;
}

:is(path, circle, rect).color-4 {
	animation: 10s linear infinite color-circle-4;
}

@keyframes color-circle-0 {
	0% {
		fill: hwb(calc(((var(--random-1) + 0) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	10% {
		fill: hwb(calc(((var(--random-1) + .1) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	20% {
		fill: hwb(calc(((var(--random-1) + .2) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	30% {
		fill: hwb(calc(((var(--random-1) + .3) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	40% {
		fill: hwb(calc(((var(--random-1) + .4) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	50% {
		fill: hwb(calc(((var(--random-1) + .5) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	60% {
		fill: hwb(calc(((var(--random-1) + .6) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	70% {
		fill: hwb(calc(((var(--random-1) + .7) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	80% {
		fill: hwb(calc(((var(--random-1) + .8) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	90% {
		fill: hwb(calc(((var(--random-1) + .9) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
	100% {
		fill: hwb(calc(((var(--random-1) + 1) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	}
}
@keyframes color-circle-1 {
	0% {
		fill: hwb(calc(((var(--random-1) + 0) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	10% {
		fill: hwb(calc(((var(--random-1) + .1) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	20% {
		fill: hwb(calc(((var(--random-1) + .2) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	30% {
		fill: hwb(calc(((var(--random-1) + .3) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	40% {
		fill: hwb(calc(((var(--random-1) + .4) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	50% {
		fill: hwb(calc(((var(--random-1) + .5) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	60% {
		fill: hwb(calc(((var(--random-1) + .6) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	70% {
		fill: hwb(calc(((var(--random-1) + .7) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	80% {
		fill: hwb(calc(((var(--random-1) + .8) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	90% {
		fill: hwb(calc(((var(--random-1) + .9) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
	100% {
		fill: hwb(calc(((var(--random-1) + 1) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	}
}
@keyframes color-circle-2 {
	0% {
		fill: hwb(calc(((var(--random-1) + 0) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	10% {
		fill: hwb(calc(((var(--random-1) + .1) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	20% {
		fill: hwb(calc(((var(--random-1) + .2) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	30% {
		fill: hwb(calc(((var(--random-1) + .3) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	40% {
		fill: hwb(calc(((var(--random-1) + .4) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	50% {
		fill: hwb(calc(((var(--random-1) + .5) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	60% {
		fill: hwb(calc(((var(--random-1) + .6) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	70% {
		fill: hwb(calc(((var(--random-1) + .7) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	80% {
		fill: hwb(calc(((var(--random-1) + .8) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	90% {
		fill: hwb(calc(((var(--random-1) + .9) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
	100% {
		fill: hwb(calc(((var(--random-1) + 1) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	}
}
@keyframes color-circle-3 {
	0% {
		fill: hwb(calc(((var(--random-1) + 0) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	10% {
		fill: hwb(calc(((var(--random-1) + .1) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	20% {
		fill: hwb(calc(((var(--random-1) + .2) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	30% {
		fill: hwb(calc(((var(--random-1) + .3) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	40% {
		fill: hwb(calc(((var(--random-1) + .4) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	50% {
		fill: hwb(calc(((var(--random-1) + .5) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	60% {
		fill: hwb(calc(((var(--random-1) + .6) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	70% {
		fill: hwb(calc(((var(--random-1) + .7) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	80% {
		fill: hwb(calc(((var(--random-1) + .8) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	90% {
		fill: hwb(calc(((var(--random-1) + .9) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
	100% {
		fill: hwb(calc(((var(--random-1) + 1) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	}
}
@keyframes color-circle-4 {
	0% {
		fill: hwb(calc(((var(--random-1) + 0) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	10% {
		fill: hwb(calc(((var(--random-1) + .1) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	20% {
		fill: hwb(calc(((var(--random-1) + .2) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	30% {
		fill: hwb(calc(((var(--random-1) + .3) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	40% {
		fill: hwb(calc(((var(--random-1) + .4) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	50% {
		fill: hwb(calc(((var(--random-1) + .5) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	60% {
		fill: hwb(calc(((var(--random-1) + .6) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	70% {
		fill: hwb(calc(((var(--random-1) + .7) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	80% {
		fill: hwb(calc(((var(--random-1) + .8) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	90% {
		fill: hwb(calc(((var(--random-1) + .9) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
	100% {
		fill: hwb(calc(((var(--random-1) + 1) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	}
}