
:root {
	color-scheme: dark light;
	/* --saturation: calc(80% + var(--random-2) * 20%);
	--lightness: calc(40% + var(--random-3) * 10%);
	--color-0: hsl(calc((var(--random-1) + .00) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-1: hsl(calc((var(--random-1) + .05) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-2: hsl(calc((var(--random-1) + .10) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-3: hsl(calc((var(--random-1) + .15) * 1turn) calc(var(--saturation)) calc(var(--lightness)));
	--color-4: hsl(calc((var(--random-1) + .20) * 1turn) calc(var(--saturation)) calc(var(--lightness))); */
	/* --whiteness: calc(10% + var(--random-2) * 10%);
	--blackness: calc(20% + var(--random-3) * 20%);
	--color-0: hwb(calc((var(--random-1) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	--color-1: hwb(calc((var(--random-1) + .05) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	--color-2: hwb(calc((var(--random-1) + .10) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	--color-3: hwb(calc((var(--random-1) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	--color-4: hwb(calc((var(--random-1) + .20) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%)); */
	/* --whiteness: calc(var(--random-2) * 10%);
	--blackness: calc(var(--random-3) * 10%);
	--color-0: hwb(calc((var(--random-1) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	--color-1: hwb(calc((var(--random-1) + .05) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	--color-2: hwb(calc((var(--random-1) + .10) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
	--color-3: hwb(calc((var(--random-1) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	--color-4: hwb(calc((var(--random-1) + .20) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%)); */
	/* --saturation: calc(80% + var(--random-2) * 20%);
	--lightness: calc(40% + var(--random-3) * 20%);
	--color-0: hsl(calc((var(--random-1) + .00) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 00%));
	--color-1: hsl(calc((var(--random-1) + .20) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 10%));
	--color-2: hsl(calc((var(--random-1) + .40) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 20%));
	--color-3: hsl(calc((var(--random-1) + .60) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 30%));
	--color-4: hsl(calc((var(--random-1) + .80) * 1turn) calc(var(--saturation)) calc(var(--lightness) - 40%)); */
	--whiteness: calc(var(--random-2) * 05%);
	--blackness: calc(var(--random-3) * 05%);
	--color-0: hwb(calc((var(--random-1) + .00) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 00%));
	--color-1: hwb(calc((var(--random-1) + .15) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 15%));
	--color-2: hwb(calc((var(--random-1) + .30) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 05%));
	--color-3: hwb(calc((var(--random-1) + .45) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 20%));
	--color-4: hwb(calc((var(--random-1) + .60) * 1turn) calc(var(--whiteness)) calc(var(--blackness) + 10%));
}

.color-0 {
	--color: var(--color-0)
}

.color-1 {
	--color: var(--color-1)
}

.color-2 {
	--color: var(--color-2)
}

.color-3 {
	--color: var(--color-3)
}

.color-4 {
	--color: var(--color-4)
}

circle, rect, path {
	fill: var(--color)
}
